<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron bg-light">
    <h1>
      {{ title }}
    </h1>
  </div>

  <div class="card mb-2" *ngIf="loading">
    <div class="card-body">
      <i class="fa fa-spinner fa-spin mr-2"></i> Loading
    </div>
  </div>

  <div class="card mb-2 border-0" *ngIf="!loading">
    <div class="card-body">
      <div class="btn-group">
        <button type="button" class="btn btn-link" (click)="toggleTemp(22)">Female</button>
        <button type="button" class="btn btn-link" (click)="toggleTemp(21)">Male</button>
      </div>
    </div>
  </div>

  <ul class="list-group" *ngIf="!loading && cities && cities.length > 0">
    <li class="list-group-item" *ngFor="let city of cities" >{{city.name}}
      <span class="badge badge-info"><i class="fa fa-thermometer-half" aria-hidden="true"></i> {{city.main.temp}}</span>
      <span class="badge badge-warning">{{city.main.humidity}}%</span></li>
  </ul>

</div>


